################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Sky/obj
/Tester/obj
/Tester/bin/Debug/netcoreapp2.0
/Sky/bin/Debug
/.vs
